@CHARSET "ISO-8859-1";

#header{
	width:100%;
	background:#008040;
    position:absolute;
    top: 0; 
    left: 0;
    border-radius:7px;
    height:inherit;
    
    

}
.search{
width:200px;
height:30px;
border-radius:15px;
background-color: transparent;
padding-left: 30px;
font-weight: bold;
background: url("../images/icons/search.png") no-repeat 6px 6px;
}
#search{
	position: absolute;
	margin-left:900px;
	margin-top:15px;
	width:200px;
	height:40px;
	border-radius:15px;
	
}

#categories{
	margin-left:240px;
	position: absolute;
	margin-top: 15px;
	width: 700px;
	
	
	
}
.cat{
	
	font-size: 20px;
    color:#ff80c0;
	border-style:hidden;
	padding: 2px;
	border-radius:2px;
	background-color: transparent;
	border-style: double;
	border-color: black;
	
}
.cat:HOVER{
font-size:25px;
cursor: pointer;

 
}
#user{
	position: absolute;
	margin-top:20px;
	margin-left:910px;
	top:0.3in;
	font-size: 20px;
	color:red;
	font-weight: bold;
}


body{
		background-color:#c4f7bb;
}

.logo{
	border-radius:70px;
	position: absolute;
}
